.intro {
    margin: 5vh 10vh;
    font-family: "Anta", sans-serif;
    font-size: 1.2rem;
}

.intro-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content p {
    text-align: left;
}

.top_buttons {
    display: flex;
}

.top_buttons button {
    border: none;
    color: white;
    background: rgb(51, 50, 50);
    padding: 12px 18px;
    font-family: "Caveat", cursive;
    font-size: 1.7rem;
    cursor: pointer;
}

.top_buttons button:hover {
    color: grey;
}

.profile-img {
    margin-top: 5px;
}

.profile-img img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#roles {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    width: 0;
    animation: typing 7s steps(51) infinite,
        blink 0.7s step-end infinite;
    animation-timing-function: ease;
    font-family: "Anta", sans-serif;
}

#roles:hover{
    animation-play-state: paused;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, rgb(51, 50, 50), rgb(62, 57, 57));
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    color: white;
    text-shadow: 2.5px 2.5px rgb(23, 23, 243);
}

#about_me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.abt_text {
    border: 2px solid white;
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    width: 45%;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.abt_img {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
}

#academic_details,
#projects {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.academic_details_txt,
.project_text {
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    width: 45%;
    margin: 5vh 15vw;
    margin-right: 2vw;
    margin-left: 10vw;

    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.academic_img,
.project_img {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.academic_details_level {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    width: 90%;
    margin-left: 35px;
    margin-bottom: 50px;
    margin-right: 75px;
}

#skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;    
}

.skills_txt {
    border: 2px solid white;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 47%;
    margin: 50px;

    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.skills_level1 {
    border: 2px solid white;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin: 15px 20px;

    position: relative;
    right: 30px;
    left: 1px;
}

.skills_level2 {
    border: 2px solid white;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin: 15px 20px;

    position: relative;
    right: 30px;
    left: 1px;
}

.skills_img {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15vw;
}

#projects a:link{
    color:black;
}
#projects a:visited{
    color:grey;
} 

form input,
textarea {
    border: 2px solid black;
    background-color: rgb(132, 126, 126);
    border-radius: 20px;
}

#contact {
    text-align: center;
    color: white;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

#contact button {
    border-radius: 20px;
    font-size: 1rem;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(119, 133, 245, 0.849);
}

#contact button:hover{
    background-color: lightblue;
}