
.intro {
    margin: 5vh 10vh;
    font-family: "Anta", sans-serif;
    font-size:1.2rem;
}

.intro-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content p {
    text-align: left;
}

.top_buttons {
    display: flex;
}

.top_buttons button {
    border: none;
    background:white;
    padding: 12px 18px;
    font-family: "Caveat", cursive;
    font-size: 1.7rem;
    cursor: pointer;
}

.top_buttons button:hover {
    color: grey;
}

.profile-img {
    margin-top: 5px;
}

.profile-img img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#roles{
    overflow: hidden;          /* hides text before typing */
    white-space: nowrap;       /* keeps text in one line */
    border-right: 2px solid black;
    width: 0;
    animation: typing 7s steps(51) infinite,
                blink 0.7s step-end infinite;
    animation-timing-function:ease;
    font-family: "Anta", sans-serif;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style:none;
    padding:0;
    margin:0;
}

#about_me{
    border:2px solid black;
    padding:5px;
    text-align:center;
    border-radius:20px;
    width: 700px;
    height:300px;
    margin:50px;

    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

#academic_details{
    border:2px solid black;
    padding:0px;
    text-align:center;
    border-radius:20px;
    width: 700px;
    height:450px;
    margin:50px 800px;

    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.academic_details_level{
    border:2px solid black;
    padding:5px;
    text-align:center;
    border-radius:20px;
    width: 650px;
    height:100px;
    margin:20px;

    position:relative;
    right: 30px;
    left: 1px;
}

#skills{
    border:2px solid black;
    padding:0px;
    text-align:center;
    border-radius:20px;
    width: 700px;
    height:520px;
    margin:50px;

    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.skills_level1{
    border:2px solid black;
    padding:0px;
    text-align:center;
    border-radius:20px;
    width: 650px;
    height:200px;
    margin:20px;

    position:relative;
    right: 30px;
    left:1px;
}

.skills_level2{
    border:2px solid black;
    padding:0px;
    text-align:center;
    border-radius:20px;
    width: 650px;
    height:250px;
    margin:20px;

    position:relative;
    right: 30px;
    left:1px;
}

#contact{
    text-align: center;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}